body {
    background-color:black;
    font-family: Arial;
    color: white
}

h1{
    color:grey;
    font-family: Verdana;
}

.maindiv{
    background-color: white;
    color: black;
    width: 525px; /* This is supposed to be 300px, but everything dosen't fit like it is supposed to? So I increased it */
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    top: 50%;
}

.secondarydiv{
    padding: 0 80px;
}

.highlited-text{
    background-color: yellow;
}

